<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6384888608-fqqigvl9kv2uia1vtien07l2v5p6gj9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6384888608-fqqigvl9kv2uia1vtien07l2v5p6gj9s</string>
	<key>API_KEY</key>
	<string>AIzaSyDBU49E2lvYfHYWOtrUeas0gfkd4FKKSAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>6384888608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetFlutterI2G5</string>
	<key>PROJECT_ID</key>
	<string>task-app-65078</string>
	<key>STORAGE_BUCKET</key>
	<string>task-app-65078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6384888608:ios:4fe881ce2bcd1102a24545</string>
</dict>
</plist>